<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .panel-primary {
            border-left: 5px solid #337ab7!important;
        }
        .panel-danger {
            border: 3px solid #a94442!important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script>
        var app = angular.module('app', []);
        app.controller('MyCtrl', function($scope, $http){
            $scope.limitServer = 1;
            $scope.increase = function(para){
                $scope.limitServer++;
            }
            $scope.decrease = function(para){
                if($scope.limitServer > 1)
                $scope.limitServer--;
            }
            $scope.items = {};
            $http.get('http://localhost:3000/data').then(function(data) {
                data = data.data;
                $scope.items = data;
                $scope.global = $scope.items.global;
                delete $scope.items.global;
                console.log(data);
            })
        })
    </script>
</head>
<body ng-app="app" ng-controller="MyCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Status</a>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <b>Limit: </b>
            <button class="btn btn-primary" ng-click="decrease()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
            {{limitServer}}
            <button class="btn btn-primary" ng-click="increase()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </form>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
<div class="row">
    <div class="col-xs-3 " >
        <div class="panel panel-danger">
            <div class="panel-heading">Global</div>
        </div>
        <div class="panel panel-danger" ng-repeat="para in global | limitTo: limitServer">
            <center>
            <p style="font-weight: bold">Total for last: {{para.current}}</p>
            <p>Added: {{para.added | number: 2}}</p>
            <p>Processed: {{para.processed | number: 2}}</p>
                <p>Time: {{para.timestamp | date: 'dd.MM - hh:mm:ss'}}</p>
            </center>
        </div>
    </div>

    <div class="col-xs-3 " ng-repeat="para in items">
        <div class="panel panel-primary">
        <div class="panel-heading">{{para[0].name}}</div>
        </div>
        <div class="panel panel-primary" ng-repeat="item in para | limitTo: limitServer">

            <div class="panel-body">
                <center>
                    <p>Per minute: {{item.perMinute | number: 2}}</p>
                    <p>Total: {{item.total}}</p>
                </center>
            </div>
        </div>

    </div>
</div>
</div>
</body>
</html>