<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
    <style>
        .panel-primary > .panel-body {
            border-left: 5px solid #337ab7 !important;
        }

        .panel-danger > .panel-body {
            border-left: 3px solid #a94442 !important;
        }
    </style>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/min/locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.min.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script>
        var app = angular.module('app', ['timer']);
        app.config(['$httpProvider', function ($httpProvider) {
            if (!$httpProvider.defaults.headers.get) {
                $httpProvider.defaults.headers.get = {};
            }
            $httpProvider.defaults.headers.get["Cache-Control"] = "no-cache";
            $httpProvider.defaults.headers.get.Pragma = "no-cache";
            $httpProvider.defaults.headers.get["If-Modified-Since"] = "Sat, 01 Jan 2000 00:00:00 GMT";

        }]);
        app.controller('MyCtrl', function ($scope, $http, $window) {
            var url = 'http://92.55.107.130/';
//            var url = 'http://localhost:3000/';
            $scope.limitServer = 1;
            $scope.increase = function (para) {
                $scope.limitServer++;
            }
            $scope.inc = 0;
            $scope.incInc = function () {
                console.log($scope.inc);
                $scope.inc++;
            }
            $scope.decrease = function (para) {
                if ($scope.limitServer > 1)
                    $scope.limitServer--;
            }
            $scope.items = {};

            $scope.refresh = function () {
                $scope.recognized = '';
                $scope.processed = '';
                $scope.queue = '';
                $scope.total = '';
                $scope.$broadcast('timer-reset');
                $scope.getData();
                $scope.$broadcast('timer-start');
            }
            $scope.resetStatistics = function () {
                $http.get(url + 'status/resetStatistics', {headers: {'Cache-Control': 'no-cache'}}).then(function (data) {
                    alert("Statistics deleted, refreshing..")
                    $window.location.reload();
                })
            }
            $scope.getData = function () {
                $scope.queueReq = false;
                $http.get(url + 'status/data').then(function (data) {
                    data = data.data;
                    $scope.items = data;
                    $scope.global = $scope.items.global;
                    delete $scope.items.global;
                    console.log(data);
                });
                $http.get(url + 'status/recognized', {headers: {'Cache-Control': 'no-cache'}}).then(function (data) {
                    $scope.recognized = data.data.recognized;
                });
                $http.get(url + 'status/processed', {headers: {'Cache-Control': 'no-cache'}}).then(function (data) {
                    $scope.processed = data.data.processed;
                });
                $http.get(url + 'status/total', {headers: {'Cache-Control': 'no-cache'}}).then(function (data) {
                    $scope.total = data.data.total;
                });
                $http.get(url + 'status/queue', {headers: {'Cache-Control': 'no-cache'}}).then(function (data) {
                    $scope.queue = data.data.queue;
                    $scope.queueReq = true;
                });
                $http.get(url + 'status/repo', {headers: {'Cache-Control': 'no-cache'}}).then(function (data) {
                    $scope.repo = data.data.repo;
                })
            }
            $scope.getData();

        })
    </script>
</head>
<body ng-app="app" ng-controller="MyCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Status</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Autorefresh in: </a></li>
            <li class="active"><a href="#">
                <timer interval="1000" max-time-unit="'minute'" finish-callback="refresh()" countdown="120">{{mminutes}}
                    minute{{minutesS}}, {{sseconds}} second{{secondsS}}
                </timer>
                <span class="sr-only">(current)</span></a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">

            <b>Limit: </b>
            <button class="btn btn-primary" ng-click="decrease()"><span class="glyphicon glyphicon-minus"
                                                                        aria-hidden="true"></span></button>
            {{limitServer}}
            <button class="btn btn-primary" ng-click="increase()"><span class="glyphicon glyphicon-plus"
                                                                        aria-hidden="true"></span></button>
        </form>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <p ng-if="!recognized">Loading number of recognized..</p>
            <p ng-if="recognized >= 0">Recognized: {{recognized | number}} songs.</p>
        </div>
        <div class="col-xs-3">
            <p ng-if="!queue && !queueReq">Loading number of queue..</p>
            <p ng-if="queue >= 0">Queue: {{queue | number}} logs.</p>
        </div>
        <div class="col-xs-3">
            <p ng-if="!total">Loading number of total..</p>
            <p ng-if="total >= 0">Total: {{total | number}} logs.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <p ng-if="!processed">Loading number of processed..</p>
            <p ng-if="processed >= 0">Processed: {{processed | number: 2}} songs.</p>
        </div>
        <div class="col-xs-3">
            <p ng-if="!processed && !recognized">Loading percentage..</p>
            <p ng-if="processed && recognized">Percentage: {{recognized/processed*100 | number: 2}} %</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 ">
            <div class="panel panel-danger" ng-click="incInc()">
                <div class="panel-heading">Global
                    <div ng-if="inc > 10">
                        <button ng-click="resetStatistics()" class="btn btn-primary btn-small">Reset statistics</button>
                        <p>
                            VertexID: {{repo | number}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger" ng-repeat="para in global | limitTo: limitServer">
                <div class="panel-body">
                    <center>
                        <p style="font-weight: bold">Total for last: {{para.current}}</p>
                        <p>Added: {{para.added | number: 2}}</p>
                        <p>Processed: {{para.processed | number: 2}}</p>
                        <p style="font-weight: bold">Average per item: {{para.completeProcess | number: 3}} s</p>
                        <p>Time: {{para.timestamp | date: 'dd.MM - hh:mm:ss'}}</p>
                    </center>
                </div>
            </div>
        </div>

        <div class="col-xs-3 " ng-repeat="para in items">
            <div class="panel panel-primary">
                <div class="panel-heading">{{para[0].name}}</div>
            </div>
            <div class="panel panel-primary" ng-repeat="item in para | limitTo: limitServer">

                <div class="panel-body">
                    <center>
                        <p>Per minute: {{item.perMinute}}</p>
                        <p>Total: {{item.total | number: 2}}</p>
                        <p>Errored: {{item.errors | number: 2}}</p>
                    </center>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>